In [ ]:
import pandas as pd
from dotenv import load_dotenv
import os 
import pymongo
import urllib.parse
load_dotenv()

True

In [2]:
path = os.getenv("Path_of_data")
df = pd.read_csv(path)
df.head()

,heart_flag,creatinine_max,glucose_max,ast_max,alt_max,HR_max,NBPs_max,NBPd_max,NBPm_max,gender,anchor_age,anchor_year_group,race,marital_status,admission_type,insurance
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,51,2008 - 2010,WHITE,SINGLE,EU OBSERVATION,Medicaid
1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,51,2008 - 2010,WHITE,SINGLE,EU OBSERVATION,Medicaid
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,51,2008 - 2010,WHITE,SINGLE,DIRECT OBSERVATION,Private
3,1,1.4,182.0,17.0,12.0,NaN,NaN,NaN,NaN,M,51,2008 - 2010,WHITE,SINGLE,OBSERVATION ADMIT,Medicaid
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,51,2008 - 2010,WHITE,SINGLE,EU OBSERVATION,Medicaid

In [4]:
df.shape

(312362, 16)

In [5]:
data = df.to_dict(orient='records')

In [6]:
DB_NAME = "heart"
COLLECTION_NAME = "heart-Data"

In [9]:
import os
import urllib.parse

raw_user = os.getenv("MONGO_USER_NAME")
raw_pass = os.getenv("MONGO_PASS")

user = urllib.parse.quote_plus(raw_user)
password = urllib.parse.quote_plus(raw_pass)
MONGODB_URI = f"mongodb+srv://{user}:{password}@heart.nxypxj4.mongodb.net/?retryWrites=true&w=majority&appName=heart"

In [10]:
import certifi # certificate verification for a secure connection.
import pymongo
client = pymongo.MongoClient(MONGODB_URI, tlsCAFile=certifi.where()) 
# TO CREATE THE DATABASE
data_base = client[DB_NAME] 
collection = data_base[COLLECTION_NAME] 
# TO INSERT DATA INTO THE COLLECTION
rec = collection.insert_many(data)