In [2]:
import pandas as pd
from dotenv import load_dotenv
import os 
import pymongo
import urllib.parse
load_dotenv()

True

In [4]:
path = os.getenv("Path_of_data")
df = pd.read_csv(path)
df.head()

,subject_id,hadm_id,heart_attack,gender,anchor_age,admission_type,insurance,race,marital_status,creatinine,...,troponin_t,creatine_kinase_mb,hemoglobin,white_blood_cells,heart_rate,bp_systolic,bp_diastolic,spo2,respiratory_rate,temperature
0,10000764,27897940,1,M,86,URGENT,Medicare,WHITE,SINGLE,1.516667,...,1.007143,13.000000,NaN,6.916667,NaN,NaN,NaN,NaN,NaN,NaN
1,10000980,26913865,1,F,73,EW EMER.,Medicare,BLACK/AFRICAN AMERICAN,MARRIED,2.398936,...,0.075385,6.272727,8.200000,5.157831,73.636364,142.454545,83.272727,98.909091,20.545455,98.133333
2,10001492,27463908,1,F,71,EW EMER.,Medicare,WHITE,MARRIED,0.733333,...,0.403333,22.500000,NaN,5.733333,NaN,NaN,NaN,NaN,NaN,NaN
3,10002013,24760295,1,F,53,EW EMER.,Medicare,OTHER,SINGLE,1.157516,...,0.110000,1.750000,11.816667,10.118487,94.214286,110.500000,64.500000,96.730769,15.185185,97.500000
4,10002155,20345487,0,F,80,EW EMER.,Medicare,WHITE,MARRIED,1.736207,...,2.230000,30.166667,11.600000,6.139623,89.754266,109.130597,52.501873,93.701342,17.276451,97.308571

In [5]:
df.shape

(33018, 23)

In [6]:
data = df.to_dict(orient='records')

In [10]:

DB_NAME = os.getenv("DATABASE_NAME")
COLLECTION_NAME = os.getenv("COLLECTION_NAME")

In [11]:
import os
import urllib.parse

raw_user = os.getenv("MONGO_USER_NAME")
raw_pass = os.getenv("MONGO_PASS")

user = urllib.parse.quote_plus(raw_user)
password = urllib.parse.quote_plus(raw_pass)
MONGODB_URI = f"mongodb+srv://{user}:{password}@heart.xfuzvm4.mongodb.net/?retryWrites=true&w=majority&appName=heart"

In [9]:
import certifi # certificate verification for a secure connection.
import pymongo
client = pymongo.MongoClient(MONGODB_URI, tlsCAFile=certifi.where()) 
# TO CREATE THE DATABASE
data_base = client[DB_NAME] 
collection = data_base[COLLECTION_NAME] 
# TO INSERT DATA INTO THE COLLECTION
rec = collection.insert_many(data)